<div class="modal" [ngClass]="{'open': showModal}">
  <div class="modal-content">
    <span class="close" (click)="close()">X</span>
    <img class="inicie_logo" src="../../../assets/images/logo_inicie.svg" >
    <div class="pokemon_box">
      <span class="pokemon_name">{{ pokemon?.name }}</span>
      <div class="pokemon_id_box"><span class="pokemon_id_label">Cod:</span> <span class="pokemon_id">#00{{ pokemon?.id }}</span></div>
      <div class="pokemon_type_box">
        <span class="pokemon_type_label">Tipo:</span>
        <div class="pokemon_types"><span [style.background]="changeTypeColor(type.type.name)" class="type" *ngFor="let type of pokemon?.types">{{ type.type.name }}</span></div>
      </div>
      <div class="pokemon_img_box">
        <img class="pokemon_img" [src]="getPokemonImg(pokemon?.id)">
      </div>
      <div class="pokemon_three" *ngFor="let evolution of evolutionChain?.evolves_to">
        <img class="evolution0" width="70px" [src]="getPokemonImgByName(evolutionChain.species.name)">
        <img class="evolution1" width="70px" [src]="getPokemonImgByName(evolution.species.name)">
        <ng-container class="pokemon_box" *ngFor="let evo of evolution?.evolves_to">
          <img class="evolution2" width="70px" [src]="getPokemonImgByName(evo.species.name)">
        </ng-container>
      </div>
      <span class="status">Status</span>
      <div class="chart">
        <div class="bar bar1" [ngStyle]="{ 'height': chartHeights[0] }"><span class="life_barsLabel barsLabel">Vida</span></div>
        <div class="bar bar3" [ngStyle]="{ 'height': chartHeights[2] }"><span class="defense_barsLabel barsLabel">Defesa</span></div>
        <div class="bar bar4" [ngStyle]="{ 'height': chartHeights[5] }"><span class="speed_barsLabel barsLabel">Velocidade</span></div>
        <div class="bar bar2" [ngStyle]="{ 'height': chartHeights[1] }"><span class="atk_barsLabel barsLabel">Ataque</span></div>
        <div class="label label3" [ngStyle]="{ 'top': chartLabels[2] }">80%</div>
        <div class="label label2" [ngStyle]="{ 'top': chartLabels[1] }">50%</div>
        <div class="label label1" [ngStyle]="{ 'top': chartLabels[0] }">20%</div>
      </div>
      <span class="info">Informações</span>
  </div>
</div>
