<div class="filter_box desktop-hide">
    <input class="search_field" #input type="text" (click)="openPokemonList()" (input)="filterPokemonList(input.value)">
    <input class="search_button" type="submit" value="Buscar" (click)="searchPokemon()">
</div>
<div class="desktop-hide" style="width: 68%;" *ngIf="showList">
  <ul class="pokemon_filtered_list">
    <li (click)="selectPokemon(pokemon)" *ngFor="let pokemon of filteredList.slice(0, 15)" class="pokemon_list">
      <img class="pokemon_list_img" [src]="getPokemonImg(pokemon.id)">
      {{ pokemon.name }}
    </li>
  </ul>
</div>

<!-- mobile mostWantedBox -->
<div class="pokemons_box">
  <div class="desktop-hide">
    <p class="most_wanted_text">Mais procurados</p>
    <div class="most_wanted_box">
      <div class="left_arrow_box">
        <span (click)="changeIndex(-1)" class="material-symbols-outlined left_arrow_desktop">
          chevron_left
        </span>
      </div>

      <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[currentIndex])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[currentIndex].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[currentIndex].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="150vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[currentIndex].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[currentIndex].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[currentIndex].weight, 'weight')}}</span>
        </div>
      </div>
      <div class="right_arrow_box">
        <span (click)="changeIndex(1)" class="material-symbols-outlined right_arrow_desktop">
          chevron_right
        </span>
      </div>
    </div>
  </div>

  <!-- desktop mostWantedBox -->
  <div class="mobile-hide">
    <p class="most_wanted_text">Mais procurados</p>
    <div class="most_wanted_box">
      <div class="left_arrow_box">
        <span (click)="changeIndex(-1)" class="material-symbols-outlined left_arrow_desktop">
          chevron_left
        </span>
      </div>
    <!--Pokemon 1-->
      <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[calculateIndex(0)])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[calculateIndex(0)].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[calculateIndex(0)].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="150vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[calculateIndex(0)].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(0)].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(0)].weight, 'weight')}}</span>
        </div>
      </div>

    <!--Pokemon 2-->
      <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[calculateIndex(1)])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[calculateIndex(1)].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[calculateIndex(1)].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="160vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[calculateIndex(1)].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(1)].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(1)].weight, 'weight')}}</span>
        </div>
      </div>

    <!--Pokemon 3-->
      <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[calculateIndex(2)])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[calculateIndex(2)].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[calculateIndex(2)].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="160vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[calculateIndex(2)].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(2)].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(2)].weight, 'weight')}}</span>
        </div>
      </div>

    <!--Pokemon 4-->
      <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[calculateIndex(3)])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[calculateIndex(3)].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[calculateIndex(3)].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="160vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[calculateIndex(3)].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(3)].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(3)].weight, 'weight')}}</span>
        </div>
      </div>

    <!--Pokemon 5-->
       <div class="most_wanted_pokemon_desktop" (click)="openModal(pokemonService.most_wanted_pokemons[calculateIndex(4)])">
        <div class="pokemon_name_and_id">
          <span class="pokemon_name">{{ pokemonService.most_wanted_pokemons[calculateIndex(4)].name }}</span>
          <span class="pokemon_id">#00{{ pokemonService.most_wanted_pokemons[calculateIndex(4)].id }}</span>
        </div>
        <div class="pokemon_img_box">
          <img width="160vh" [src]="getPokemonImg(pokemonService.most_wanted_pokemons[calculateIndex(4)].id)">
        </div>
        <div class="pokemon_height">
          <span class="pokemon_height_label">Altura:</span>
          <span class="pokemon_height">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(4)].height, 'height')}}</span>
        </div>
        <div class="pokemon_weight">
          <span class="pokemon_weight_label">Peso</span>
          <span class="pokemon_weight">{{ formatMeasure(pokemonService.most_wanted_pokemons[calculateIndex(4)].weight, 'weight')}}</span>
        </div>
      </div>
      <div class="right_arrow_box">
        <span (click)="changeIndex(1)" class="material-symbols-outlined right_arrow_desktop">
          chevron_right
        </span>
      </div>
    </div>
  </div>
  <!-- mobile pokedex -->
  <p class="pokedex_text desktop-hide">
    Pokédex
  </p>
  <div class="pokedex_box desktop-hide">
    <div class="pokedex_pokemon" *ngFor="let pokemon of pokemonList" (click)="openModal(pokemon)">
      <div class="pokemon_name_and_id">
        <span class="pokemon_name">{{ pokemon.name }}</span>
        <span class="pokemon_id">#00{{ pokemon.id }}</span>
      </div>
      <div class="pokemon_img_box">
        <img width="140vh" [src]="getPokemonImg(pokemon.id)">
      </div>
      <div class="pokemon_height">
        <span class="pokemon_height_label">Altura:</span>
        <span class="pokemon_height">{{ formatMeasure(pokemon.height, 'height') }}</span>
      </div>
      <div class="pokemon_weight">
        <span class="pokemon_weight_label">Peso:</span>
        <span class="pokemon_weight">{{ formatMeasure(pokemon.weight, 'weight') }}</span>
      </div>
    </div>
  </div>
  <!-- desktop pokedex -->
  <!-- mobile pokedex -->
<p class="pokedex_text desktop-hide">
  Pokédex
</p>
<div class="pokedex_box desktop-hide">
  <div class="pokedex_pokemon" *ngFor="let pokemon of pokemonList" (click)="openModal(pokemon)">
    <div class="pokemon_name_and_id">
      <span class="pokemon_name">{{ pokemon.name }}</span>
      <span class="pokemon_id">#00{{ pokemon.id }}</span>
    </div>
    <div class="pokemon_img_box">
      <img width="140vh" [src]="getPokemonImg(pokemon.id)">
    </div>
    <div class="pokemon_height">
      <span class="pokemon_height_label">Altura:</span>
      <span class="pokemon_height">{{ formatMeasure(pokemon.height, 'height') }}</span>
    </div>
    <div class="pokemon_weight">
      <span class="pokemon_weight_label">Peso:</span>
      <span class="pokemon_weight">{{ formatMeasure(pokemon.weight, 'weight') }}</span>
    </div>
  </div>
</div>

<!-- desktop pokedex -->
<div class="pokedex_title_box_desktop mobile-hide">
  <p class="pokedex_text_desktop mobile-hide">
    Pokédex
  </p>
  <div class="paginator mobile-hide">
    <span (click)="showPreviousPage()" class="material-symbols-outlined left_arrow_pokedex">
      chevron_left
    </span>
    <span (click)="showNextPage()" class="material-symbols-outlined right_arrow_pokedex">
      chevron_right
    </span>
  </div>
</div>
<div class="pokedex_box_desktop mobile-hide">
  <div class="pokedex_pokemon_desktop" *ngFor="let pokemon of displayedPokemonList" (click)="openModal(pokemon)">
    <div class="pokemon_name_and_id">
      <span class="pokemon_name">{{ pokemon.name }}</span>
      <span class="pokemon_id">#00{{ pokemon.id }}</span>
    </div>
    <div class="pokemon_img_box">
      <img width="140vh" [src]="getPokemonImg(pokemon.id)">
    </div>
    <div class="pokemon_height">
      <span class="pokemon_height_label">Altura:</span>
      <span class="pokemon_height">{{ formatMeasure(pokemon.height, 'height') }}</span>
    </div>
    <div class="pokemon_weight">
      <span class="pokemon_weight_label">Peso:</span>
      <span class="pokemon_weight">{{ formatMeasure(pokemon.weight, 'weight') }}</span>
    </div>
  </div>
</div>

</div>
