
.filter_box {
  display: flex;
  align-items: center;
}

.search_field {
  font-size: 2vh;
  font-family: 'Nunito', sans-serif;
  padding: 1.2vh;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #e4e4e48a;
  box-shadow: -1px 8px 9px #0000001f;
  text-transform: capitalize;
}

.search_button {
  background: #EA686D;
  color: white;
  font-size: 3.2vh;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 1px 8px 10px #ea686d7a;
  padding: 2px 13px;
}

.pokemons_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}

.most_wanted_text {
  color: #2F3E77;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}

.most_wanted_box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 0.3vh;
  padding-left: 0.3vh;
}

.most_wanted_pokemon {
  width: 25vh;
  height: 31vh;
  padding-right: 2.5vh;
  padding-left: 2.5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-shadow: 0px 15px 15px 0px #2F3E771A;
  border: 1px solid #e3e3e394;
}

.most_wanted_pokemon_desktop {
  width: 25vh;
  height: 31vh;
  padding-right: 2.5vh;
  padding-left: 2.5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-shadow: 0px 15px 15px 0px #2F3E771A;
  border: 1px solid #e3e3e394;
  margin-right: 1%;
  cursor: pointer;
}

.most_wanted_pokemon_desktop:hover {
  background-color: #ea686d33;
}

.pokemon_name_and_id {
  display: flex;
  justify-content: space-between;
}

.pokemon_name {
  color: #233674;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
}

.pokemon_id {
  color: #233674;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.pokemon_img_box {
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.pokemon_weight_label,
.pokemon_height_label {
  color: #233674;
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
}

.pokemon_weight,
.pokemon_height {
  display: flex;
  justify-content: space-between;
  color: #233674;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.left_arrow_box,
.right_arrow_box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left_arrow {
  background: #EA686D;
  color: white;
  font-size: 5.5vh;
  border-radius: 30px;
  margin-right: -2vh;
}

.right_arrow {
  background: #EA686D;
  color: white;
  font-size: 5.5vh;
  border-radius: 30px;
  margin-left: -2vh;
}

.left_arrow_desktop {
  background: #EA686D;
  color: white;
  font-size: 5.5vh;
  border-radius: 30px;
  margin-right: -2vh;
  z-index: 1;
}


.right_arrow_desktop {
  background: #EA686D;
  color: white;
  font-size: 5.5vh;
  border-radius: 30px;
  margin-left: -3vh
}

.pokedex_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.pokedex_text {
  color: #2F3E77;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
  margin-top: 4vh;
}

.pokedex_pokemon {
  width: 30vh;
  height: 29vh;
  padding-right: 2.5vh;
  padding-left: 2.5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-shadow: 1px 8px 12px 0px #00000029;
  margin-bottom: 4vh;
}

.pokemon_filtered_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 58%;
  height: fit-content;
  overflow: auto;
  padding: 0;
  margin: 0;
  margin-top: 0.5%;
  list-style: none;
  background: #ebebeb;
  font-family: 'Nunito';
  text-transform: capitalize;
  font-size: 2vh;
  font-weight: 500;
  box-shadow: -1px 4px 16px #00000047;
  border-radius: 0px 0px 3px 3px;
}

.pokemon_list {
  display: flex;
  align-items: center;
  padding: 0.7vh;
  border-bottom: 0.1px solid #0000001f;
}

.pokemon_list_img {
  width: 5vh;
  margin-right: 5%;
}



@media (min-width: 768px)
{
  .desktop-hide {
    display: none;
  }
}

@media (max-width: 768px)
{
  .mobile-hide {
    display: none;
  }
}

